#backdrop{
    background:rgba(0,0,0,0.3);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    backdrop-filter:blur(3px);
    z-index:99;
    animation:animateBackdrop 500ms ease-in fowards;
}

@keyframes animatedBackdrop{
  to{
    opacity:1;
  }
}

